@font-face {
    font-family: TH_Chakra_Petch;
    src: url(../fonts/TH_Chakra_Petch.ttf);
}

@font-face {
    font-family: TH_Chakra_Petch_Bold;
    src: url(../fonts/TH_Chakra_Petch_Bold.ttf);
}

html{
	background: #7D8A2E;
}

body {
	font-size: 25px;
	/* background: red; */
	color: white;
	margin-top: 10px;
	font-family: TH_Chakra_Petch;
	width:90%;
	margin-left:5%;
}

body h2{
	font-family: TH_Chakra_Petch_Bold;
	font-size: 45px;
}

#container{
	padding:0px;
}

.block {
	margin-left: 25%;
	margin-right: 25%;
}

#header {
	text-align: center;
	background: #C9D787; 
	/* background: #FF8598; */
	color: white;
	font-size: 40px;
}

#header a{
	color: grey;
}

a {
	color: black;
}

#content {
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
	color: black;
	font-size: 30px;
	float:right;
}

#content h1{
	font-family:TH_Chakra_Petch_Bold;
	color:#7D8A2E;
	border-style: dotted;
    border-width: 5px;
	margin-left:32%;
	margin-right:32%;
}

#sidebar{
	background: #FF8598;
	padding-top: 10px;
	padding-bottom:10px;
	width:20%;
	float:right;
}

#sidebar a{
	font-size: 30px;
	margin-right:10%;
}

.header2 {
	display: inline-block;
}

.login-signup {
	background: #FFFFFF;
	text-align: center;
	padding-top: 1%;
}

.form{
	background: #FFC0A9;
	color: #FF8598;
	text-align: center;
	display: inline-block;
	padding-top: 3%;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 3%;
}

table{
	color:black;
}

.users-list{
	background: #FFC0A9;
	color: #FF8598;
	text-align: center;
	display: inline-block;
	margin-left:10px;
	margin-right:10px;
	padding-top: 20px;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 20px;
}

.users-list a{
	font-family:TH_Chakra_Petch_Bold;
	color:#FF8598;
}

input {
	width: 5em;
	height: 1.5em;
}

table, th, td {
   border: 1px solid black;
}

h1 {
	/* color: #FFC0A9; */
	color:white;
	font-size: 50px;
}

span{
	font-size: 40px;;
}

#card-container{
	margin-left: auto ;
	margin-right: auto ;
}